<header>
  <img src="assets/img/hallie.png">
  <h1>Hallie Bateman</h1>
</header>

<section id="content-home">
  <nav>
    <ul>
      <li>
        <a class="books" href="/books">
          <span>Books</span>
          <img src="assets/img/home-books.png">
        </a>
      </li>
      <li>
        <a class="work" href="/work">
          <span>Work</span>
          <img src="assets/img/home-work.png">
        </a>
      </li>
      <li>
        <a class="shop" href="#">
          <img src="assets/img/home-shop.png">
          <span>Shop</span>
        </a>
      </li>
      <li>
        <a class="newsletter" href="/newsletter">
          <img src="assets/img/home-newsletter.png">
          <span>Newsletter</span>
        </a>
      </li>
      <li>
        <a class="about" href="/about">
          <img src="assets/img/home-hallie.png">
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav>
</section>

<footer>
  <ul>
    <li>
      <img src="assets/img/icon-bluesky.png">
      <span><a href="#">Bluesky</a></span>
    </li>
    <li>
      <img src="assets/img/icon-insta.png">
      <span><a href="#">Instagram</a></span>
    </li>
    <li>
      <img src="assets/img/icon-substack.png">
      <span><a href="#">Substack</a></span>
    </li>
  </ul>
  <p>©2025, Hallie Bateman</p>
</footer>