<nav id="sub-nav">
  <ul>
    <li>
      <a class="books {{ if segment_1 == 'books' }}active{{ /if }}" href="/books">
        <span>Books</span>
      </a>
    </li>
    <li>
      <a class="work {{ if segment_1 == 'work' }}active{{ /if }}" href="/work">
        <span>Work</span>
      </a>
    </li>
    <li>
      <a class="shop {{ if segment_1 == 'shop' }}active{{ /if }}" href="#">
        <span>Shop</span>
      </a>
    </li>
    <li>
      <a class="newsletter {{ if segment_1 == 'newsletter' }}active{{ /if }}" href="/newsletter">
        <span>Newsletter</span>
      </a>
    </li>
    <li>
      <a class="about {{ if segment_1 == 'about' }}active{{ /if }}" href="/about">
        <span>About</span>
      </a>
    </li>
  </ul>
</nav>