@source "../views";
@source "../../content";
body {
	background: #FCF9F4;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer ul li {
	padding: 0;
	margin: 0;
}

footer ul li a {

}

#content-home {
	text-align: center;
	max-width: 50%;
	background: #FCF9F4;
	border-radius: 25px;
	padding: 15px;
	margin: 0 auto;
}

#content-home nav a {
 	text-transform: uppercase;
 	display: block;
 	font-size: 32px;
 	margin: 15px 0;
}

#content-category {
	text-align: center;
	max-width: 95%;
	background: #ffffff;
	border-radius: 25px;
	padding: 15px;
	margin: 0 auto;
}

#content-category nav a {
 	text-transform: uppercase;
 	display: inline-block;
 	font-size: 16px;
 	margin: 15px 0;
}